<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>addlookout</title>-->
<!--</head>-->
{% extends 'policeindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="reglookout">
  <table width="400">
    <tr>
      <th scope="row">Topic</th>
      <td><input type="text" name="textfield" required/></td>
    </tr>
    <tr>
      <th scope="row">Details</th>
      <td><textarea name="textarea" required></textarea></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input name="Add" type="submit" value="Add" /></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
