{% extends 'adminindex.html' %}
{% block body %}
<body>
<h1 align="center">ADMIN HOME PAGE</h1>
<div align="center">
  <!--<table width="507" height="140" border="0">-->
    <!--<tr>-->
      <!--<th scope="row"><a href="policemanage">ADD & MANAGE POLICE</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="viewcriminal">VIEW CRIMINAL</a></th>-->
    <!--</tr>-->
    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
      <!--&lt;!&ndash;<th scope="row"><a href="viewfeedback">VIEW FEEDBACK</a></th>&ndash;&gt;-->
    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
  <!--</table>-->
</div>
</body>
{% endblock %}
