<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Policehome</title>-->
<!--</head>-->
{% extends 'policeindex.html' %}
{% block body %}
<body>
<!--<div align="center">-->
  <!--<h1>POLICE HOMEPAGE</h1>-->
  <!--<table width="538" height="193" border="0">-->
    <!--<tr>-->
      <!--<th width="526" scope="row"><div align="center">-->
        <!--<a href="Addmanagecriminal">ADD&MANAGE CRIMINALS</a></div></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="viewcomplaint">VIEW COMPLAINTS& SEND REPLAY</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="viewcameranotification">VIEW CAMERA NOTIFICATION</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="lookoutmanage">ADD & MANAGE LOOKOUT NOTICE</a></th>-->
    <!--</tr>-->
  <!--</table>-->
<!--</div>-->
</body>
{% endblock %}
<!--</html>-->
